/* Global Styles */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

header {
    background-color: #333;
    color: white;
    padding: 1em 0;
    text-align: center;
}

.navbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.navbar ul li {
    display: inline;
    margin-right: 20px;
}

.navbar ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.2em;
}

.hero {
    background: url('https://www.canyon.com/dw/image/v2/BCML_PRD/on/demandware.static/-/Library-Sites-canyon-shared/default/dw2b387831/images/specials/canyon-bike-insurance-03.jpg?sw=1920') no-repeat center center/cover;
    height: 100vh;
    color: green;
    font-size: 1.5rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about, .store, .contact {
    padding: 2em;
    text-align: center;
}

/* Store Section */
.products {
    display: flex;
    justify-content: space-around;
}

.product {
    text-align: center;
    border: 1px solid #ddd;
    padding: 1em;
    width: 30%;
}

.product img {
    width: 100%;
    height: auto;
}

/* Footer */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: .5em 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Media Queries */
@media only screen and (max-width: 768px) {
    .products {
        flex-direction: column;
        align-items: center;
    }

    .product {
        width: 80%;
        margin-bottom: 20px;
    }
}

@media only screen and (min-width: 769px) {
    .products {
        flex-direction: row;
    }
}
